* {
  box-sizing: border-box;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
}

.spinner {
  padding: 100px;
  img {
    width: 150px;
  }
}


h1, .logo {
  font-family: $main-font;
  text-align: center;
}

p {
  font-family: $sub-font;
  font-size: 30px;
}
  // background-color: ;

