* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(rgb(0, 0, 0) 0%, rgba(255,255,255,1) 100%);
}

main {
  flex-grow: 1;

}

img {
  width: 100%;
}

.spinner {
  padding: 100px;
  img {
    width: 150px;
  }
}


h1, .logo {
  font-family: $main-font;
  text-align: center;
}

p {
  font-family: $sub-font;
  font-size: 30px;
}


