* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  min-height: 110vh;;
}

video { width: 100%; }

img {
  width: 100%;
}

.spinner {
  padding: 100px;
  img {
    width: 150px;
  }
}


h1, .logo {
  font-family: $main-font;
  text-align: center;
}

p {
  font-family: $sub-font;
  font-size: 30px;
}


