$main-font: 'Caesar Dressing', cursive;
$sub-font: 'Alumni Sans', sans-serif;
$defaultDuration: .3s;


%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

