// Whole page
.about-hero {
  padding: 0px;
  margin: 0 auto;

  // Each wrap section
  .wrap {

    // Main image and title section
    .header-1{
      display: flex;
      position: relative;
    }
    .title-1 {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 40%;
      color: white;
      font-size: 70px;
    }

    .title {
      text-align: center;
    }
    .wrap-img {
      width: 100%;
      vertical-align: middle;
    }
    p {
      text-align: center;
      padding: 25px 25px 100px 25px;
      font-size: 30px;
    }
  }
  .wrap-button {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
