// section
.about-hero {
  padding: 0px;
  margin: 0 auto;
  color: white;
  background: black;
  hr {
    margin: 100px;
  }
  p{
    font-weight: 100;
  }

  // Each wrap section
  .wrap {

    // Main image and title section
    .header-1{
      display: flex;
      position: relative;
    }
    .title-1 {
      position: absolute;
      text-align: center;
      top: 40%;
      left: 36%;
      color: white;
      font-size: 70px;
    }

    .title {
      text-align: center;
    }
    .wrap-img {
      width: 100%;
      vertical-align: middle;
    }
    p {
      text-align: center;
      padding: 50px 50px 150px 50px;
      font-size: 30px;
    }
  }

  .about-btn{
    @extend %flex-center;
    flex-direction: column;
    padding-bottom: 200px;
    p{
      margin-bottom: 30px;
      font-weight: 100;
      animation-duration: 4s;
      animation-name: beatingText;
      animation-iteration-count: infinite;
    }  
    @keyframes beatingText
    {
        0% { transform: scale( 1.1 ); }
        33% { transform: scale( 1 ); }
        66% { transform: scale( 1.1 ); }
        100% { transform: scale( 1 ); }
    }
  }
  .wrap-button {
    @extend %button-before;
    &:hover {
      @extend %button-hover-about;
    }
  }
}
