.artists-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  .artists {
    height: fit-content;
    display: flex;
    flex-direction: column;
      .card {
        align-items: end;
        margin: 20px;
        height: 40vh;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // background-color: hsla(0, 0%, 100%, 1);
        box-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
        color: white;
        
      }
  }
}
