//comment section
.comments-main {
  width: 72vw;
  margin: 0 auto;
  font-family: Caesar Dressing;
  display: flex;
  flex-direction: column;
  align-items: center;
  .comments-title {
    color: white;
  }
  //New Comments section
  .post-container {
    margin-bottom: 50px;
    // .post-comment-label {
    //   font-size: 20px;
    //   color: white;
    //   margin-left: 10px;
    // }
    div {
      display: flex;
      .post-comments {
        width: 90%;
        height: 70%;
        padding: 20px;
        margin-right: 20px;
        background: white;
        border-radius: 20px;
        justify-content: space-around;
        box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
        border: 6px solid black;
        span {
          background-color: red;
          // background-color: rgb(172, 205, 189);
          border-radius: 15px;
          text-align: center;
          margin-right: 10px;
          border: 6px solid black;
        }
        textarea{
          padding: 10px;
          border-radius: 20px;
          width: 100%;
          margin-right: 20px;
          border: 6px solid black;
        }
      }
    }
    label {
      margin-bottom: 15px;
    }
    button {
      background-color: red;
      font-size: 30px;
      width: 30%;
      height: 70%;
      border-radius: 20px;
      // background: rgb(172, 205, 189);
      border: 6px solid black;
    }
    .error{
      flex-direction: column;
      margin-top: 10px;
    }
}
//Uploaded Comments section
.posted-comments {
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
  border-radius: 15px;
  height: 30px;
  margin-right: 65px;
  font-size: 20px;
  padding: 20px;
  background-color: white;
  align-items: center;
}
  .comment-section{
    // background: rgb(255, 255, 255);
    border: 1px solid white;
    width: 90%;
    height: 70%;
    margin: 10px;
    padding: 30px 30px 20px 30px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
    h4 {
      margin-bottom: 20px;
      font-size: 30px;
    }
    .user-name{
      color: red;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .top-buttons{
        align-items: center;
        button {
          color: white;
          border-radius: 15px;
          width: 80px;
          margin-left: 5px;
          font-size: 17px;
          height: 25px;
          
        }
      }
    }
    .edit{
      background-color: #ff8000;
    }
    .delete{
      background-color: red;
    }

    //Buttons section
    .like-button{
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;
      
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 5px;
        height: 30px;
        width: 30px;
        margin: 5px;
      }
      button{
        width: 60px;
        height: 40px;
        border-radius: 25px;
        margin-left: 5px;
        border: 3px solid black;
        background: rgb(215, 15, 15);
      }
    }
  }
}
