.comments-main{
  font-family: $main-font;
  @extend %flex-center;
  flex-direction: column;
}
.comments-title{
  color: rgb(255, 255, 255);
  margin: 80px 0 50px 0;
}
.post-comments{
  padding-bottom: 21px;
  @extend %flex-center;
  margin-bottom: 50px;
  textarea{
    @extend %textarea;
  }
}

.post-button {
  @extend %button-before;
  width: 30%;
  height: 80px;
  background-color: red;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid black;
  &:hover {
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffffd6,
                0 0 50px hsla(0, 0%, 100%, 0.647),
                0 0 200px #ffffff6f;
  }
}

.comment-section{
  border: 1px solid white;
  width: 90%;
  height: 70%;
  margin: 30px;
  padding: 30px 30px 20px 30px;
  h4 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .user-name{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $sub-font;
    font-size: 40px;
    font-weight: bold;
    .top-buttons{
      align-items: center;
      button {
        color: white;
        border-radius: 15px;
        width: 80px;
        margin-left: 5px;
        font-size: 17px;
        height: 25px;
        
      }
    }
  }
  textarea{
    @extend %textarea;
  }
  .edit{
    background-color: #ff8000;
    font-family: $sub-font;
  }
  .delete{
    background-color: red;
    font-family: $sub-font;
  }
}

.edit-box {
  display: flex;
  align-items: center;
  font-family: $sub-font;
  font-size: 30px;
}

.edit-input {
  height: 60px;
  width: 65vw;
  margin-right: 10px;
}

.save-button {
  height: 60px;
  width: 80px;
  font-size: 20px;
  background-color: rgb(33, 235, 33);
  &:hover {
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffffd6,
                0 0 50px hsla(0, 0%, 100%, 0.647),
                0 0 200px #ffffff6f;
  }
}

.posted-comments {
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
  margin: 30px 0 30px 0;
  font-size: 40px;
  padding: 20px;
  background-color: white;
}


//Buttons section
.like-button{
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  button{
    width: 60px;
    height: 40px;
    border-radius: 25px;
    margin-left: 5px;
    border: 3px solid black;
    background: rgb(233, 108, 108);
  }
}