
.jungle-constellation{
  h1 {
    color: 
    rgb(74, 157, 74)
  }
  .user-name{
    color: rgb(75, 141, 75) !important;
  }
  .post-container{
    button{
      background-color: rgb(75, 141, 75);
    }
  }
  .like-button{
    button{
      background: rgb(75, 141, 75) !important;
    }
  }
  .attendance-button{
    background-color:rgb(47, 98, 47);
    border: solid 2px rgb(47, 98, 47);
  }
}
.nebula-808{
  h1 {
    color: rgb(161, 52, 190);
  }
  .post-container{
    button{
      background-color:rgb(161, 52, 190);
    }
  }
  .like-button{
    button{
      background: rgb(161, 52, 190) !important;
    }
  }
  .attendance-button{
    background-color:rgb(161, 52, 190);
    border: solid 2px rgb(161, 52, 190);
  }
  .user-name{
    color:rgb(161, 52, 190) !important;
  }
}