.home {
  padding: 0px;
  margin: 0px;

  .hero {
    @extend %flex-center;
    text-align: center;
    justify-content: center;
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
    margin: 0px auto; 
    position: relative;
  }


  .home-container { 
    position: absolute; 
    top: 35%; 
    width: 100%; 
  }
  .btn{
    margin: 30px 10px 0 10px;
    background-color: transparent;
    border: 1px solid white;
    font-family: $sub-font;
    font-style: italic;
    font-weight: 400;
    &:hover, &:active {
      background-color: white !important;
      color: black;
      border: black;
    }
  }
}

.display-3{
  color: rgba(0, 0, 0, 0.716);
}

.lead {
  color: rgba(54, 50, 95, 0.681);
  font-weight: 400;
}