.map-container {
  display: flex;
  flex-direction: column;
  padding-top: 12vh;
  @extend %flex-center;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
}

.stage-image {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  top: -100px;

  img {
    width: 23vw;
    margin-right: 30px;

    @keyframes float {

      0%,
      100% {
        transform: translateY(0px);
      }

      50% {
        transform: translateY(-16px);
      }
    }
  }

  .Nebula {
    animation: float 4s ease-in-out infinite;
  }

  .Chaos {
    animation: float 4.8s ease-in-out infinite;
  }

  .Jungle {
    animation: float 5.6s ease-in-out infinite;
  }
}

.stage-btn {
  position: absolute;
  display: flex;
  width: inherit;
  justify-content: space-evenly;
  margin-bottom: 60px;
  margin-top: -100px;
}


.btn-nebula-808,
.btn-chaos-cosmos,
.btn-jungle-constellation {
  @extend %button-before;
}

.btn-nebula-808 {
  @extend %button-hover-nebula;
}

.btn-chaos-cosmos {
  @extend %button-hover-chaos;
}

.btn-jungle-constellation {
  @extend %button-hover-jungle;
}
