@import './global/variables.scss';

* {
  box-sizing: border-box;
}


.register{
  height: 100vh;
  width: 100vw;
  @extend %flex-center;
  .row{
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    padding: 10px;
    display: block;
  }
  button {
    display: block;
    margin-top: 25px;
  }
}
@import './global/base.scss';
@import './global/variables.scss';
@import './components/form-page.scss';
@import './components/navbar.scss';
@import './components/artist-cards.scss';
